{{/* This is a placeholder template for future use */}}
package main

import (
	"context"
	"github.com/f4ah6o/direct-go-sdk/daab-go/bot"
)

func main() {
	robot := bot.New(
		bot.WithName("{{.Name}}"),
	)

	robot.Respond("ping$", func(ctx context.Context, res bot.Response) {
		res.Send("PONG")
	})

	robot.Run(context.Background())
}
